.cart {
	img {
		float: left;
		margin-right: 20px;
	}

	.cart__package {

		.cart__package__title {
			margin-top: 0;
			font-size: 20px;

			a {
				&:hover {
					text-decoration: none;
				}
			}
		}

		.cart__package__description {
			font-size: 14px;
		}
	}
}