.input-with-price {
	position: relative;

	span {
	    position: absolute;
	    color: #ddd;
	    top: 4px;
	    right: 10px;	

	    &.current-currency {
			font-size: 10px;
			position: relative;
			top: 0;
			right: 0;
	    }	
	}
}