.menu {
    display: block;
    position: relative;
    z-index: 9999;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;  

        &:after {
            content: "";
            clear: both;
            display: block;    
        }        

        li {
            float: left;
            a {
                display: block;
                color: #fff;
                text-decoration: none;     
            }     
        }               

        .mega-menu {
            opacity: 0;
            visibility: hidden;
            display: none ! important/9;

            position: absolute;
            top: 100%;
            width: 850px;
            padding: 18px 20px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-top: none;
            color: #777;
            left: 0;
            margin-left: -300px;        
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
            -webkit-transition: opacity 150ms ease-in-out;
            -moz-transition: opacity 150ms ease-in-out;
            -o-transition: opacity 150ms ease-in-out;
            -ms-transition: opacity 150ms ease-in-out;
            transition: opacity 150ms ease-in-out;

            .column {
            	margin-bottom: 20px;
			    float: left;
			    width: 200px;
	            a {
	            	color: #333;
	            	font-size: 12px;
	                float: none;
	                padding: 0; 
	                line-height: 2em;  
	                &:hover {
	                	text-decoration: underline !important;
	                } 
	            }

	            ol {
	            	padding-left: 0;
	            	li {
	            		float: none;
	            	}
	            }

            } 
                  
            p {
	            .view-all {
	            	color: #333;
	            	font-size: 14px;
	            	font-weight: bold;
	            	&:hover {
	            		text-decoration: underline !important;
	            	}
	            }  	
            }

        } 

        li {
            &:hover {
                .mega-menu {
                    opacity: 1;
                    visibility: visible;
                    display: block ! important/9;   
                }
            }
        }
    }
}