.share-package {
	margin-top: 20px;

	a {
	    margin: 20px 20px 0px 0px;
	    display: inline-block;
	}
}

.share-package__facebook {
	color: #3b5998;
}

.share-package__twitter {
	color: #00aced;
}

.share-package__google {
	color: #dd4b39;
}