.slideshow {
    position: relative;
    width: 100%;
    background-color: black;
    background-image: none;	
    overflow: hidden;

    .logo {
    	z-index: 3;   

	    position: absolute;
	    left: 20px;
	    top: 0;
	    width: 24%;
	    max-width: 250px;    	 	
    }    

    #topLeftCorner {
	    top: 0;
	    left: 0;
	    background-position: top left;    	

	    background-image: url('../../images/top-left-corner.png') !important; 
    }

    #bottomRightCorner {
		bottom: 0;
		right: 0;
		background-position: bottom right;

		background-image: url('../../images/bottom-right-corner.png') !important;
    }    

    #topLeftCorner, #bottomRightCorner {
	    position: absolute;
	    max-width: 500px;
	    max-height: 350px;
	    width: 50%;
	    height: 40%;
	    background-size: contain;
	    background-repeat: no-repeat;	    
    }    

    #top_video {
		margin: 0 auto;
		display: block; 
		width: 100%;   	
    }

  //   .video_container {
		// display: flex;
		// justify-content: center;
		// flex-direction: column;
		// -ms-flex-align: center;
		// -webkit-align-items: center;
		// -webkit-box-align: center;

		// align-items: center;

		// video {
		// 	flex: 1;
		// }

  //   	#intro-title {
  //   		flex: 1;
  //   	}
  //   }

    #intro-title {
    	text-align: center;
	    position: absolute;
	    width: 100%;
	    top: 25%;
	    a {
	    	margin-top: 20px;
	    }
    }
}